body{
    background:pink;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
}
li{
    display: flex;
    justify-content: flex-end;
    padding: 7px;
    margin-top: 2%;
    background: gray;
    border-radius: 25px;
    word-break: break-all;
    margin-right: 3%;
}
.message{
    height: 80vh;
    padding-bottom: 10px;
    color: #fff;
    
}
h2{
    margin-left: 600px;
    color:black;
}
.main{
    overflow: scroll;
    height: 77vh;
    background:teal;
    width: 650px;
}
#pic1{
    width: 80px;
    height: 10vh;
    border-radius: 360px;
    margin-bottom: 20px;
}
.profile{
    display: flex;
    align-items: center;
    height: 9vh;
    margin-top: 5px;
    
}
p{
    font-size: 20px;
    margin-left: 5%;
    color:black;
    text-transform: uppercase;
}
.footer{
    display: flex;
    margin-top: 2%;

}
#bolder, #italic , #underline{
    font-weight: bolder;
    cursor: pointer;
    margin: 2px;
}
#bolder{
    background-color: hsla(54, 97%, 75%, 0.63);
}
#italic{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(20, 152, 185);
}

#underline{
    text-decoration: underline;
    background-color: burlywood
}

.input{
    display: flex;
    align-items: center;
    margin-top: 0;
    width: 540px;

}
.card-footer{
    height: 100vh;
    width: 700px;
    margin-left:400px;
    margin-bottom: 100px;
    background: hsla(54, 68%, 85%, 0.63);
    border-radius: 30px;
}
button{
    width: 100px;
    background-color: blue;
    padding: 5px;
}
#singout{
    background-color: orange;
}
#emoji-btn{
    background-color: blanchedalmond;
    width: 100px;
    padding: 5px;
    
}