body{
    background: url('https://upload.wikimedia.org/wikipedia/commons/9/94/Fild_in_kampot_cambodia.jpg');
    background-size: cover;
}

ul{
    list-style: none;
}
h1{
    text-align: center;
    color: black;
}
.main{
    width: 530px;
    height: 80vh;
    margin:auto;
    background-color:#f3eaeaea;
    border:1px solid;
    margin-top:30px;
    overflow: scroll;
    
}
img {
    width: 100px;
    padding: 20px;
}

#bolder, #italic , #underline{
    font-weight: bolder;
    cursor: pointer;
}
#italic{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
#underline{
    text-decoration: underline;
}
input[type=text]{
    width: 600px;
}
.card-footer{
    width: 560px;
    margin:auto;
    background: hsl(221, 74%, 85%);
    
}
button{
    background: blue;
    width: 100px;
}