body{
    background:url('https://media.istockphoto.com/photos/flowers-composition-frame-border-background-beautiful-cream-roses-on-picture-id1139465321');
    background-size:cover;
}
ul{
    list-style: none;
}
h1{
    text-align: center;
    color: black;
}
.main{
    width: 560px;
    height: 70vh;
    margin:auto;
    background-color:rgba(126, 119, 119, 0.61);
    border:1px solid;
    margin-top:5px;
}
.contanier{
    margin-left: 400px;
    color: black;
    
}
input[type=text]{
     width:453px;
     padding: 5px;
     background:rgba(255, 255, 255, 0.075);
     color: black;
     margin-bottom:20px;

}
button{
    width: 100px;
    
    padding:5px;
    background:rgba(73, 72, 72, 0.13);
}
